{% extends 'aplicacion/home2.html' %}

{% block titulo %}
{% load static %}
<section class="page-section bg-primary" id="about" style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static 'citas.jpg' %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 220px 0; /* Aumenta el espacio vertical */
">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-white mb-4" style="font-size: 2.5rem;">Aqui Estan Tus Citas Agendadas, {{user.username}}</h1>
            </div>
        </div>
    </div>
</section>
{% endblock titulo %}


{% block abajo %}
<section class="page-section bg-dentist" id="citas">
    <style>
        .bg-dentist {
            background-color: #293f50;
            padding: 170px;
        }

        .citas-container {
            text-align: center;
            margin-top: 10px;
            padding: 50px;
            border-radius: 30px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
        }

        .cita {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f4f9fc;
        }

        .cita-info {
            color: #2980b9;
        }

        .cita-buttons {
            margin-top: 10px;
        }
    </style>

    <div class="container px-4 px-lg-5 citas-container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <ul class="list-unstyled text-dark mb-4">
                    {% for cita in citas %}
                    <li class="mb-3 cita">
                        <div class="cita-info">{{ cita.fecha }} - {{ cita.motivo }}</div>
                        <div class="cita-buttons">
                            <a href="{% url 'editar_cita' cita.id %}" class="btn btn-primary btn-sm ms-2">Editar</a>
                            <a href="{% url 'eliminar_cita' cita.id %}" class="btn btn-danger btn-sm ms-2">Eliminar</a>
                        </div>
                    </li>
                    {% empty %}
                    <li class="no-citas">No tienes citas agendadas</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock abajo %}





